@import "tailwindcss";

/* Smooth Scroll */
html{
scroll-behavior:smooth;
}

/* Inputs */
.input{
width:100%;
padding:12px;
border-radius:8px;
background:#000;
border:1px solid #333;
color:white;
}

/* Buttons */
button{
background:white;
color:black;
padding:12px;
border-radius:8px;
}

/* LOGO SLIDER */

.logo-track{
display:flex;
width:max-content;
animation:marquee 22s linear infinite;
}

.logo-track:has(img:hover){
animation-play-state:paused;
}

.logo-row{
display:flex;
gap:100px;
padding-right:100px;
align-items:center;
}

.logo-row img{
height:60px;
width:auto;
object-fit:contain;
filter:grayscale(100%);
cursor:pointer;
transition:transform .35s ease, filter .35s ease;
}

.logo-row img:hover{
filter:grayscale(0%);
transform:scale(1.1);
}

@keyframes marquee{
0%{transform:translateX(0)}
100%{transform:translateX(-50%)}
}

/* SPINNER */

.loader{
width:30px;
height:30px;
border:3px solid #ccc;
border-top:3px solid white;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
to{transform:rotate(360deg)}
}

/* POPUP ANIMATION */

.animate-pop{
animation:pop .4s ease;
}

@keyframes pop{
0%{transform:scale(.85);opacity:0}
100%{transform:scale(1);opacity:1}
}

/* Error right side */
.error-right{
position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);
font-size:12px;
color:#ef4444;
}

/* Red border */
.border-red{
border-color:#ef4444 !important;
}

/* Shake animation */
.shake{
animation:shake .3s;
}

@keyframes shake{
0%{transform:translateX(0)}
25%{transform:translateX(-4px)}
50%{transform:translateX(4px)}
75%{transform:translateX(-4px)}
100%{transform:translateX(0)}
}

.fade-spinner{
animation:fadein .3s ease;
}

@keyframes fadein{
from{opacity:0}
to{opacity:1}
}
